.dialog-pane {
	-fx-graphic: url("../image/tick-ico.png");
	-fx-background-color: #e2ecf4;
}

.header-panel {
	-fx-background-color: #e2ecf4;
}

.button-bar {
	visibility: hidden;
}

.label {
	-fx-font-size: 15px;
	-fx-font-weight: bold;
}